<div class="container" *ngIf="blog">
    <div class="wrapper">
        <div class="date-wrapper">
            <span>Date : {{blog.date}}</span>
            <span>Time: {{blog.time}}</span>
        </div>
        <div class="img-wrapper">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSq1qC7qPtMAOUR3-ZQsafgfhwmMoyVd5f1hQ&usqp=CAU"
                alt="blog-img">
        </div>

        <h2> {{blog.title}}</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, delectus consequuntur voluptas laboriosam
            itaque distinctio ut libero! Fugit quod earum nesciunt molestias necessitatibus nemo laudantium, iure omnis,
            explicabo ipsam aliquam.</p>
    </div>
</div>
<div class="empty"></div>